.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0 10rem;
}

.block {
  min-width: 30vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2vw;
}

.block button {
  display: block;
  text-align: center;
  width: 15vw;
  margin: 1vh;
  padding: 1vh;
}

.blue {
  background-color: #7ea6e0;
}

.yellow {
  background-color: #ffe599;
}
